<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>User Report</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/styles.css" />

  </head>
  <body>

        <div class="container"> 
            <p>Male</p>
            <div class="row">
                
                <div class="col">
                    Nationality
                </div>
                <div class="col">
                    0-30
                </div>
                <div class="col">
                    30-50
                </div>
                <div class="col">
                    50 above
                </div>
            </div>

            <div class="row">
                <div class="col">
                    NL
                </div>
                <div class="col">
                    2
                </div>
                <div class="col">
                    0
                </div>
                <div class="col">
                    5
                </div>
            </div>
        </div>

       

  </body>


  </html>